# Feature Extraction

In [1]:
docA = "Jay Shri Ram"
docB = "Jay Shri Krishna"
docC = "Ram Krishna Paramhansa"

In [72]:
bowA = docA.split()
bowB = docB.split()
bowC = docC.split()

In [73]:
print(bowA)
print(bowB)
print(bowC)

['Jay', 'Shri', 'Ram']
['Jay', 'Shri', 'Krishna']
['Ram', 'Krishna', 'Paramhansa']

# Finding Unique Words

In [74]:
vocab = set(bowA).union(bowB).union(bowC)
vocab

{'Jay', 'Krishna', 'Paramhansa', 'Ram', 'Shri'}

In [75]:
wordDictA = dict.fromkeys(vocab, 0)
wordDictB = dict.fromkeys(vocab, 0)
wordDictC = dict.fromkeys(vocab, 0)

In [76]:
for word in bowA:
    wordDictA[word] += 1
for word in bowB:
    wordDictB[word] += 1
for word in bowC:
    wordDictC[word] += 1
print(wordDictA, wordDictB, wordDictC)

{'Paramhansa': 0, 'Krishna': 0, 'Shri': 1, 'Jay': 1, 'Ram': 1} {'Paramhansa': 0, 'Krishna': 1, 'Shri': 1, 'Jay': 1, 'Ram': 0} {'Paramhansa': 1, 'Krishna': 1, 'Shri': 0, 'Jay': 0, 'Ram': 1}

In [77]:
import pandas as pd
pd.DataFrame([wordDictA,wordDictB,wordDictC])

   Paramhansa  Krishna  Shri  Jay  Ram
0           0        0     1    1    1
1           0        1     1    1    0
2           1        1     0    0    1

# TF-IDF

In [78]:
# TF
def calcTF(wordDict, bow):
    tfDict = {}
    bowCount = len(bow)
    for word, count in wordDict.items():
        tfDict[word] = count/float(bowCount)
    return tfDict

In [79]:
tfBowA = calcTF(wordDictA, bowA)
tfBowB = calcTF(wordDictB, bowB)
tfBowC = calcTF(wordDictC, bowC)

In [80]:
print(tfBowA)
print(tfBowB)
print(tfBowC)

{'Paramhansa': 0.0, 'Krishna': 0.0, 'Shri': 0.3333333333333333, 'Jay': 0.3333333333333333, 'Ram': 0.3333333333333333}
{'Paramhansa': 0.0, 'Krishna': 0.3333333333333333, 'Shri': 0.3333333333333333, 'Jay': 0.3333333333333333, 'Ram': 0.0}
{'Paramhansa': 0.3333333333333333, 'Krishna': 0.3333333333333333, 'Shri': 0.0, 'Jay': 0.0, 'Ram': 0.3333333333333333}

In [81]:
# IDF

import math
def calcIDF(docList):
    idfDict = {}
    N = len(docList)
    
    idfDict = dict.fromkeys(docList[0].keys(), 0)
    for doc in docList:
        for word, val in doc.items():
            if val > 0:
                idfDict[word] += 1
            
    for word, val in idfDict.items():
        idfDict[word] = math.log10((N + 1) / float(val) + 1.0) + 1.0
        
    return idfDict
idfs = calcIDF([wordDictA,wordDictB,wordDictC])
print(idfs)

{'Paramhansa': 1.6989700043360187, 'Krishna': 1.4771212547196624, 'Shri': 1.4771212547196624, 'Jay': 1.4771212547196624, 'Ram': 1.4771212547196624}

In [82]:
# TFIDF

def calcTFIDF(tfBow, idfs):
    tfidf = {}
    for word, val in tfBow.items():
        tfidf[word] = val*idfs[word]
    return tfidf
idfFirst = calcTFIDF(tfBowA, idfs)
idfSecond = calcTFIDF(tfBowB, idfs)
idfThird = calcTFIDF(tfBowC, idfs)
idf= pd.DataFrame([idfFirst, idfSecond,idfThird])
idf

   Paramhansa   Krishna      Shri       Jay       Ram
0    0.000000  0.000000  0.492374  0.492374  0.492374
1    0.000000  0.492374  0.492374  0.492374  0.000000
2    0.566323  0.492374  0.000000  0.000000  0.492374